{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SmartRental{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'properties/css/style.css' %}">
</head>
<body>

<header class="header">
  <div class="container header-inner">
    <div class="logo">SmartRental</div>
  </div>
</header>

<main class="container">
  {% block content %}{% endblock %}
</main>

</body>
</html>
