#footer{
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(38, 38, 38);
    gap: 20px;
    color: white;
}
.footertop{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footerbottom{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
#contact1{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#services{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#Quick{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#logo{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.box span{
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.box button{
     padding: 10px 40px 10px 40px;
    background-color: #03045E;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    
}
.footerbotto span{
    font-size: 20px;
    font-weight: 400;
    color: white;
}


















